@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Variabili per i colori principali
$white: #fff;
$black: #333;
$purple: #b507d0ae;
$beach-gradient: linear-gradient(to bottom, #F5DEB3, #FFE4B5 25%, #FFE4C4 50%, #FFDAB9 75%, #F5DEB3);
$sea-gradient: linear-gradient(to bottom, #87CEEB, #00BFFF 25%, #1E90FF 50%, #00BFFF 75%, #87CEEB);
$button-bg: #d6a8ddfa;
$button-hover-bg: #fffbf4;
$text-color: #000;

// Mixin per media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media screen and (max-width: 576px) { @content; }
  } @else if $breakpoint == medium {
    @media screen and (max-width: 768px) { @content; }
  } @else if $breakpoint == large {
    @media screen and (max-width: 992px) { @content; }
  } @else if $breakpoint == xlarge {
    @media screen and (max-width: 1200px) { @content; }
  }
}

// Stili globali
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", serif;
  background: $sea-gradient, $beach-gradient;
  background-blend-mode: overlay;
  padding: 20px;

  @include respond-to(xlarge) {
    padding: 15px;
  }

  @include respond-to(large) {
    padding: 10px;
  }

  @include respond-to(medium) {
    padding: 5px;
  }

  .progetto_uno {
    margin-top: 80px;
    
    h2 {
        font-family: "Josefin Sans", serif;
        text-align: center;
        margin-bottom: 20px;
        
    }

    p {
        font-size: 24px;
    }

    .img-hotelPomelia {
        img{
            max-width: 400px;
        }
    }
  }

  .progetto_due {
    margin-top: 40px;
    
    h2 {
        margin-bottom: 20px;
    }

    p {
        font-size: 24px;
        margin-bottom: 20px;
    }

    a {
      padding: 15px 30px 15px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 36px;
      background: linear-gradient(310deg, #9B3CB7 0%, #F24474 92.11%);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
    }


    img {
      max-width: 400px;
      margin-top: 40px;
    
    }
  }

  .progetto_tre {
    margin-top: 40px;
    
    h2 {
      margin-bottom: 20px;
    }

    p {
      font-size: 24px;
      margin-bottom: 20px;
    }

    a {
      padding: 15px 30px 15px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 36px;
      background: linear-gradient(310deg, #9B3CB7 0%, #F24474 92.11%);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
    }


    img {
      max-width: 400px;
      margin-top: 40px;
    
      .bookfinder{
        padding: 20px;

      }
    }
  }


  footer {
    text-align: center;
    margin-top: 40px;

    p {
        font-size: 20px;
    }
  }   
}

header {
  background-color: $black;
  color: $white;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0;
    animation: slideIn 1s ease-out;

    li {
      margin: 0 15px;

      a {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: $purple;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }

        &:hover::before {
          visibility: visible;
          width: 100%;
        }
      }
    }
  }

  @include respond-to(medium) {
    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: $black;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 1000;

      &.active {
        display: flex;
      }

      li {
        padding: 10px;
        text-align: left;
      }
    }
  }
}

.btn-download {
  background-color: $button-bg;
  color: $text-color;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: 20px;

  &:hover {
    background-color: $button-hover-bg;
  }
}



.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;

  .bar {
    height: 3px;
    width: 25px;
    background-color: $white;
    margin: 3px 0;
    transition: 0.3s;
  }

  @include respond-to(medium) {
    display: flex;
    margin-left: 20px;
  }
}
