$primary-color: #FFC75E;
$header-bg-color: #333;
$text-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  padding: 20px;

  @media screen and (max-width: 1200px) {
    padding: 15px;
  }
  
  @media screen and (max-width: 992px) {
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    padding: 5px;
  }
}

header {
  background-color: $header-bg-color;
  color: $text-color;
  padding: 1em 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  margin-bottom: 20px;

  h1.special-font {
    font-family: "Roboto Slab", serif;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: auto;
    animation: slideIn 1s ease-out;

    li {
      margin: 0 15px;

      a {
        color: $text-color;
        text-decoration: none;
        font-weight: bold;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: $primary-color;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }

        &:hover::before {
          visibility: visible;
          width: 100%;
        }
      }
    }
  }
}

.btn-download {
  background-color: $primary-color;
  color: $text-color;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: 20px;

  &:hover {
    background-color: $primary-color;
  }
}

.social-links {
  margin-top: 30px;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;

    li {
      display: inline;

      a {
        color: $header-bg-color;
        font-size: 30px;
        transition: color 0.3s ease;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

h1 {
  margin-top: 20px;
}

p {
  font-size: 20px;
  margin-top: 20px;

  @media screen and (max-width: 992px) {
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1882352941);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .item {
    display: flex;
    gap: 20px;

    .hotel-content {
      flex: 1;
    }

    .hotel-image {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        max-width: 100%;
        border-radius: 10px;

        @media screen and (max-width: 1200px) {
          border-radius: 8px;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    gap: 15px;
    padding: 15px;
  }

  @media screen and (max-width: 992px) {
    gap: 10px;
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    gap: 5px;
    padding: 5px;
  }
}

footer {
  text-align: center;
  margin-top: 20px;
}