* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../img/sfondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  margin-right: auto;
  animation: slideIn 1s ease-out;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FFC75E;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.btn-download {
  background-color: #FFC75E;
  color: rgb(5, 18, 47);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: 20px;
}
.btn-download:hover {
  background-color: #fffbf4;
}

main h1.special-font {
  font-family: "Roboto Slab", serif;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .item {
  display: flex;
  gap: 20px;
}
.container .item .hotel-content {
  flex: 1;
}
.container .item .hotel-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .item .hotel-image img {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  body {
    padding: 15px;
  }
  .container .item .hotel-image img {
    border-radius: 8px;
  }
  .container {
    gap: 15px;
    padding: 15px;
  }
}
@media screen and (max-width: 992px) {
  body {
    padding: 10px;
  }
  p {
    font-size: 18px;
  }
  .container {
    gap: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 5px;
  }
  p {
    font-size: 16px;
  }
  .container {
    gap: 5px;
    padding: 5px;
  }
  .container .item {
    flex-direction: column;
  }
  .container .item .hotel-image {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
  }
  nav ul.active {
    display: flex;
  }
  nav ul li {
    padding: 10px;
    text-align: left;
  }
  .hamburger {
    display: flex;
    margin-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  p {
    font-size: 14px;
  }
}