body {
    font-family: 'Lora', serif;
    background-image: url("../img/sfondo.png"); /* Specifica il percorso dell'immagine */
    background-size: cover; /* Assicura che l'immagine copra l'intera area del body */
    background-repeat: no-repeat; /* Evita che l'immagine venga ripetuta */
    background-position: center; /* Centra l'immagine */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: auto;
    animation: slideIn 1s ease-out;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #FFC75E;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::before {
    visibility: visible;
    width: 100%;
}

.btn-download {
    background-color: #FFC75E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 30px;
}

.btn-download:hover {
    background-color: #FFC75E;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px; /* Distanza dall'header */
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.left-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero-description {
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px; /* larghezza massima */
}

.hero-description h1 {
    font-family: 'Playfair Display', serif; /* Font per il titolo */
    font-size: 2.5em; /* Dimensione del titolo */
    margin-bottom: 10px;
}

.hero-description p {
    font-family: 'Lora', serif; /* Font per il paragrafo */
    font-size: 1.2em; /* Dimensione del font */
    margin-bottom: 20px;
    line-height: 1.5;
    max-width: 100%; /* Limita la larghezza del paragrafo */
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    color: #000000;
    margin: 10px 0;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #000000;
    margin: 20px 0;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1.3em;
    color: #000000;
    line-height: 1.5;
    margin: 10px 0;
}

.images {
    text-align: center;
    background-color: #f0f0f000;
    padding: 20px 0;
}

.extra-image {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.extra-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.skills {
    padding: 50px 0;
    text-align: center;
    background-color: #f9f9f900;
}

.skills h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333333;
}

.skills-container {
    display: flex;
    justify-content: center;
    overflow-x: auto; /* Permette lo scorrimento orizzontale */
    width: 100%;
}

.skill-item {
    min-width: 150px; /* Mantieni questa larghezza per ogni skill */
    margin: 10px; /* Margine per distanziare gli elementi */
}

.skill-item img {
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.skill-item img:hover {
    transform: scale(1.1);
}

.hobbies {
    padding: 20px;
    background-color: #f7f7f700;
}

/* Stile per il titolo "I miei hobby" */
.hobbies h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

/* Stile per il paragrafo introduttivo */
.hobbies p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

/* Stile per la galleria di immagini */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Stile per ogni figura (immagine con descrizione) */
.gallery figure {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Stile per le immagini */
.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Stile per la descrizione sotto l'immagine */
.gallery figcaption {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}

/* Effetto hover per l'immagine */
.gallery figure:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.follow-us {
    text-align: center;
    margin-bottom: 50px;
}

.social-links {
    display: flex;
    justify-content: center; /* Centra le icone */
    gap: 30px; /* Spazio tra le icone */
    margin-bottom: 50px; 
}

.social-icon {
    width: 50px; /* Dimensione dell'icona */
    height: 50px; /* Dimensione dell'icona */
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease; /* Transizioni per effetti */
}

.social-icon:hover {
    transform: rotate(360deg) scale(1.1); /* Ruota e ingrandisce l'icona */
    filter: brightness(1.2); /* Aggiunge luminosità al passaggio del mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Ombra al passaggio del mouse */
}

footer {
    background-color: #333 !important;
    color: #fff !important;
    text-align: center;
    padding: 1rem 0;
    position: fixed; /* Fisso in fondo alla pagina */
    bottom: 0; /* Posizionato in fondo */
    left: 0; /* Allinea a sinistra */
    width: 100%; /* Larghezza al 100% */
    z-index: 1000; /* Assicura che il footer sia sopra gli altri contenuti */
}

footer p {
    font-size: 1.0em; /* Riduci la dimensione del testo del footer */
    margin: 0; /* Rimuovi i margini predefiniti */
    padding: 0; /* Rimuovi i padding predefiniti */
    display: inline-block; /* Permette di centrare verticalmente */
    vertical-align: middle; /* Centra verticalmente il testo */
}

footer, footer * {
    color: #fff !important;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {

    footer {
        position: relative; /* Cambia posizione a relativa per dispositivi più piccoli */
    }
    
    nav ul {
        display: none; /* Nasconde il menù */
        flex-direction: column; /* Disposizione a colonna */
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px; /* Posizione sotto l'header */
        left: 0;
        z-index: 1000;
    }

    nav.active ul {
        display: flex; /* Mostra il menu quando attivo */
    }

    .menu-toggle {
        display: flex; /* Mostra il bottone per il menu a hamburger */
        margin-left: 10px;
    }

    nav ul li {
        padding: 10px; /* Padding per migliorare il clic */
        text-align: left; /* Allineamento a sinistra */
    }   
    
    .hero-container {
        flex-direction: column; /* Cambia la direzione in colonna */
        align-items: center; /* Allinea al centro */
    }

    .hero-description {
        padding-left: 0; /* Rimuovi padding a sinistra */
        text-align: center; /* Allinea il testo al centro */
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .profile-image {
        width: 120px;
        height: 120px;
    }

    .extra-image {
        width: 100%;
        max-width: none;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    .social-container {
        flex-direction: row; /* Mantiene l'orientamento orizzontale */
        gap: 10px;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}