/* Generale */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lora', serif;
    background: linear-gradient(to bottom, #87CEEB, #00BFFF 25%, #1E90FF 50%, #00BFFF 75%, #87CEEB), /* Mare */
                linear-gradient(to bottom, #F5DEB3, #FFE4B5 25%, #FFE4C4 50%, #FFDAB9 75%, #F5DEB3); /* Spiaggia */
    background-blend-mode: overlay; /* Miscelare i gradienti */
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigazione */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    animation: slideIn 1s ease-out;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
    color: white;
    text-decoration: none;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #b507d0ae;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::before,
nav ul li a:focus::before {
    visibility: visible;
    width: 100%;
}

/* Bottone di download */
.btn-download {
    background-color: #d6a8ddfa;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 40px;
}

.btn-download:hover {
    background-color: #fffbf4;
}

/* Contenuto principale */
.main-content {
    text-align: center;
    margin: 20px auto;
    padding: 40px;
    background-color: #00d9ff00; /* Trasparente */
    border-radius: 10px;
    margin-top: 60px;
    max-width: 100%;
}

#changing-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #54045a;
    margin-top: 20px;
}

.changing-words {
    color: #030150;
    font-size: 2.3rem;
    font-weight: bold;
}

/* Hero Container */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.left-image {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-description {
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
}

.hero-description h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-description p {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.5;
    max-width: 100%;
}

/* Main */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    color: #000000;
    margin: 10px 0;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #000000;
    margin: 20px 0;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1.3em;
    color: #000000;
    line-height: 1.5;
    margin: 10px 0;
}

/* Immagini */
.images {
    text-align: center;
    background-color: #f0f0f000;
    padding: 20px 0;
}

.extra-image {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.extra-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Esperienza */
.experience {
    padding: 40px 20px;
    background-color: #e0e0e000;
    text-align: center;
}

.experience h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience-item {
    background-color: #ffffff93;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.experience-item.visible {
    opacity: 1;
    transform: translateX(0);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.experience-item.animate {
    animation: slideIn 0.5s ease forwards;
}

/* Competenze */
.skills {
    padding: 50px 0;
    text-align: center;
    background-color: #f9f9f900;
}

.skills h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333333;
}

.skills-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
}

.skill-item {
    min-width: 150px;
    margin: 10px;
}

.skill-item img {
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.skill-item img:hover {
    transform: scale(1.1);
}

/* Hobby */
.hobbies {
    padding: 20px;
    background-color: #f7f7f700;
}

.hobbies h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.hobbies p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

/* Galleria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery figure {
    text-align: center;
    margin: 0;
    padding: 0;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery figcaption {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
}

.gallery figure:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Social */
.follow-us {
    text-align: center;
    margin-bottom: 50px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px; 
}

.social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.social-icon:hover {
    transform: rotate(360deg) scale(1.1);
    filter: brightness(1.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    background-color: #333 !important;
    color: #fff !important;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer p {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

footer, footer * {
    color: #fff !important;
}

/* Menu Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

/* Media Queries */
@media (max-width: 768px) {
    .left-image {
        width: 300px;
        height: 300px;
    }

    footer {
        position: relative;
    }

    header {
        padding: 0.5rem 0;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        margin-left: 20px;
    }

    nav ul li {
        padding: 10px;
        text-align: left;
    }
    
    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-description {
        padding-left: 0;
        text-align: center;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }
    
    .skill-item {
        width: 50%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .profile-image {
        width: 120px;
        height: 120px;
    }

    .extra-image {
        width: 100%;
        max-width: none;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    .social-container {
        flex-direction: row;
        gap: 10px;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}